{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - GAMBIT {% else %} GAMBIT Heat Map Tool {% endif %}
{% endblock %}

{% block styles %}
{{ super() }}
{#    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/sumoselect.min.css') }}">#}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lib/multiple-select.css') }}">
    <style>
        .footer {
            margin-top: 25px;
            margin-bottom: 25px;
            text-align: center;
            font-weight: lighter;
        }
    </style>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">GAMBIT</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}">{{ 'Home' }}</a></li>

                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% if current_user.is_authenticated %}
        {% with tasks = current_user.get_tasks_in_progress() %}
        {% if tasks %}
            {% for task in tasks %}
            <div class="alert alert-success" role="alert">
                {{ task.description }}
                <span id="{{ task.id }}-progress">{{ task.get_progress() }}</span>%
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% endif %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}

    </div>
    <div class="footer">
        © BIOCIPHERS · Department of Genetics Perelman School of Medicine Department of Computer and Information Science
        School of Engineering University of Pennsylvania
        <img src="{{ url_for('static', filename='img/penn.jpg')}}">
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/utils.js')}}"></script>
    <script>
        {% if 'EXT_URL_PREFIX' in config %}
            const base_url = "{{ config['EXT_URL_PREFIX'] }}";
        {% else %}
            const base_url = '';
        {% endif %}
    </script>
{% endblock %}
