{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{ super() }}
{#    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/sumoselect.min.css') }}">#}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pace.css') }}">

{#    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />#}

    <style>

        @keyframes loaderAni {
          0% {
            background-position: -50vh 0;
          }
          100% {
            background-position: 50vw 0;
          }
        }

        .loader-background {
          animation-duration: 2s;
          animation-fill-mode: forwards;
          animation-iteration-count: infinite;
          animation-name: loaderAni;
          animation-timing-function: linear;
          background: #337ab7;
          background: linear-gradient(to right, #245680 8%, #389c5d 18%, #245680 33%);
        }

        #mainplot-overlay{
            position:absolute;
            top:0;
            left:0;
            pointer-events: none;
        }

    </style>
{% endblock %}

{% block app_content %}


    <div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" id="mainPanel">
                <div class="panel-heading">
                   <h3 class="panel-title">Gambit Plot
                    </h3>
                </div>
              <div class="panel-body">
                  <label for="input_matrix">Input Matrix</label>
                  <input type="file" class="form-control" id="input_matrix">

                  <label for="input_matrix">Output Matrix</label>
                  <input type="file" class="form-control" id="output_matrix">

                  <label for="customRange1">Selection Radius</label>
                  <div class="row">
                      <div class="col-md-2">
                          <input type="number" min=1 max=100 step="1" value="25" class="form-control" id="selection_radius2">
                      </div>
                      <div class="col-md-10">
                          <input type="range" min=1 max=100 step=1 value=25 class="form-control" id="selection_radius">
                      </div>
                  </div>
              </div>

            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
<!--               <div class="panel-heading">-->
<!--                    <h3 class="panel-title">Filter-->
<!--    -->
<!--                    </h3>-->
<!--                </div> -->
              <div class="panel-body" >
                  <div id="mainplot-panel" style="position: relative">
                    <div id="mainplot"></div>
                  </div>



              </div>

            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
<!--               <div class="panel-heading">-->
<!--                    <h3 class="panel-title">Filter-->
<!--    -->
<!--                    </h3>-->
<!--                </div> -->
              <div class="panel-body" id="sideplot-panel">
                  <div id="sideplot"></div>


              </div>

            </div>
        </div>


    </div>


    <br style="clear: both;">


    </div>


{% endblock %}

{% block scripts %}
{{ super() }}
{#    <script src="{{ url_for('static', filename='js/lib/jquery.min.js')}}"></script>#}
{#    <script src="{{ url_for('static', filename='js/lib/jquery.ba-throttle-debounce.min.js')}}"></script>#}
    <script src="{{ url_for('static', filename='js/lib/jquery-2.0.3.min.js')}}"></script>
{#    <script src="{{ url_for('static', filename='js/lib/kinetic-v5.1.0.min.js')}}"></script>#}
{#    <script src="{{ url_for('static', filename='js/lib/inchlib-1.2.0.min.js')}}"></script>#}
    <script src="https://d3js.org/d3.v4.js"></script>


    <script>


    </script>

{#    <script src="{{ url_for('static', filename='js/lib/pdfkit.js')}}"></script>#}
{#    <script src="{{ url_for('static', filename='js/lib/blobstream.js')}}"></script>#}
{#    <script src="{{ url_for('static', filename='js/lib/svg2pdf.js')}}"></script>#}
{##}
{##}
{#    <script src="{{ url_for('static', filename='js/lib/FileSaver.min.js')}}"></script>#}
{#    <script src="{{ url_for('static', filename='js/exports.js')}}"></script>#}

    <script src="{{ url_for('static', filename='js/index.js')}}"></script>




{% endblock %}